@import '~bootstrap/scss/bootstrap';

@keyframes navbarflyout {
  from {
    height: 0;
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
}

body {
    background-image: url('./mirrored.png');
    background-color: rgb(96, 96, 96);
    background-repeat:repeat-y
    //background-size: auto

}
@mixin blur($radius) {
  -webkit-backdrop-filter: blur($radius); /* Chrome, Safari */
  // -ms-filter: blur($radius); /* IE12? */
  // filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"#{$radius}\" /></filter></svg>#blur"); /* Firefox, Safari, Chrome*/
  // filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius); /* IE9 */
  backdrop-filter: blur($radius);
}
.card {
  background: #e9ecf313;
  //opacity: 60%;
  //width: calc(200vw / 3);
  //max-width: 1000px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
}

.room-info {
  //background: rgba(233, 236, 243, 0.075);
  //opacity: 60%;
  display: flex;
  justify-content: space-between;
 
}

.room-users {
  background: rgba(233, 236, 243, 0.075);
  //opacity: 60%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
}

.overlay-container {
  //background: rgba(233, 236, 243, 0.075);  //position:absolute;
 background-image: linear-gradient( rgba(233, 236, 243, 0.261) 30%, transparent);
 // background-image: linear-gradient(to top right, violet, darkred, purple);
 // background-image: linear-gradient(40deg, rgb(255 0 0) 60%, orange);
  //opacity: 60%;
  //width: calc(200vw / 3);
  //max-width: 1000px;
  border-radius: 16px;
  //box-shadow: 0 4px 30px rgba(66, 64, 64, 0.5);
  //border-style: solid;
  border: none;
  // border-image: 
  //   linear-gradient(
  //     to bottom, 
  //     #e9ecf3d3, 
  //     #e9ecf3a0,
  //     #e9ecf313
  //   ) 1 100%;
  // @include blur(4.2px);
}
.simple-btn {
  background: transparent;
  border: none;
}
.feed-nav {
  color: #e1e1e5;
  background: rgba(233, 236, 243, 0.124);
  //opacity: 60%;
  //border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
 
}
.navbar {
  background-color: #1e1a2ad0;
  border:#e1e1e5;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
}
// .nav-toggle{
//   color:#e1e1e5;
//   background-color: #e1e1e5;
// }
// .navbar-toggler-icon {
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
// }

// .navbar-toggler {
//   border-color: rgb(255,102,203);
// } 
.feed-nav:hover {
  color: #3c3556;
}

.nav-tabs {
  border-color:rgba(233, 236, 243, 0.124);
}
#comment-btn {
  margin-left: 15px;
  color:rgb(166, 197, 255);
  cursor: pointer;
  
}
.login:hover {
  color: rgb(166, 197, 255);
  //opacity: 60%;
  cursor: pointer;
}

.card.user-profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}
.card.user-profile-followers-card {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6%;
  width: 130%;
}
#header {
 
  background: #e9ecf343;
  //opacity: 60%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(233, 236, 243, 0.449);
}

// .navbar {
//   background-color: #1e1a2a79;

//   //opacity: 60%;
//   //height: auto;
//   //width: 100vw;
  
//   margin-bottom: 15px;
//   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
//   @include blur(4.2px);
//   //border-bottom: 1px solid rgba(233, 236, 243, 0.449);
// }
#home-header{
  background-color: #1e1a2a79;

  //opacity: 60%;
  height: auto;
  width: 100vw;
  
  margin-bottom: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  //border-bottom: 1px solid rgba(233, 236, 243, 0.449);

}

#tag-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



#tag, #comment-btn:hover {
  background: rgba(233, 236, 243, 0.241);
  //opacity: 60%;
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
  
}
#post-section-wave {
  //background: rgba(166, 197, 255, 0.449);
  background: rgba(60, 53, 86, 0.449);

  //opacity: 60%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
}
#waveform {
  height: 100%;
  width: 100%;
}
.wavesurfer-container {
  position: relative;
}

.title-text-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  //margin-left: 2rem;
  color: #e1e1e1;
  font-size: 16px;
  z-index: 200;
}

.categories-text-overlay {
  position: absolute;
  top: 55px;
  left: 6px;
  color: #e1e1e1;
  font-size: 16px;
  z-index: 200;
  max-width: 300px;
}

.navbar-collapse {
  height: 0;
  overflow: hidden;
}

.navbar-collapse.show {
  animation: navbarflyout 0.3s ease-in-out;
  height: auto;
}

.whaa {
  height: 50%;
  width: 10%
}

.presstotalk-img{
  border: none;
  width: 50px;
  height: 50px;
}

.mt-incont {
  margin-top: 200px;
}
.post-button,
.delete-button,
.stop-button,
.play-button,
.record-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #000210;
}
.post-button:not(:disabled):hover,
.delete-button:not(:disabled):hover,
.stop-button:not(:disabled):hover,
.play-button:not(:disabled):hover,
.record-button:not(:disabled):hover {
  background-color: #1e1a2a;
}
.post-button img,
.delete-button img,
.stop-button img,
.play-button img,
.record-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.post-button:disabled,
.delete-button:disabled,
.play-button:disabled,
.record-button:disabled,
.stop-button:disabled {
  opacity: 0.55;
  border: 1px solid #000000;
}
.post-button:active,
.delete-button:active,
.record-button:active,
.play-button:active,
.stop-button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.input-control {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
}

///////////////////////whspr ai
.centered-whsprAI {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45vh;
}
.container-whsprAI {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floating-text-whsprAI {
  position: fixed;
  top: 140px;
  bottom: 100px;
  right: 15px;
  width: 33%;
  max-height: calc(100vh - 150px);
  height: auto;
  background-color: rgba(128, 128, 128, 0.2);
  border-left: 1px solid (128, 128, 128, 0.4);
  overflow-y: auto;
  z-index: 1000;
  padding: 10px;
  box-shadow: -3px 0px 3px (128, 128, 128, 0.4);
}

.floating-text-whsprAI::-webkit-scrollbar {
  width: 5px;
}

.text-btn {
  position: fixed;
  right: 1vh;
  bottom: 1vh;
  width: 7vw;
  height: 7vw;
}
.help-btn {
  position: fixed;
  left: 1vh;
  top: 4vh;
  width: 5vw;
  height: 5vw;
}
.modalCustom {
  position: fixed;
  top: 175px;
  left: 60px;
  width: 400px;
  height: auto;
  color: rgba(209, 209, 209, 0.6);
  background-color: rgba(128, 128, 128, 0.2);
  border-left: 1px solid (128, 128, 128, 0.4);
  overflow-y: auto;
  z-index: 1000;
  padding: 10px;
  box-shadow: -3px 0px 3px (128, 128, 128, 0.4);
}

.chatHistoryName {
  color: rgba(4, 217, 255, 0.6);
}

.chatHistoryText {
  color: rgba(209, 209, 209, 0.6);
}

.press-to-talk-container {
  position: fixed;
  bottom: 5vh;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.presstotalk-img {
  position: fixed;
  bottom: 5vh;
  border: none;
  width: 10vw;
  height: 10vw;
  max-height: 100px;
  max-width: 100px;
}

.loading-img {
  position: fixed;
  border: none;
  bottom: 3vh;
  width: 20vw;
  height: 20vw;
  margin-left: 5vw;
  max-height: 200px;
  max-width: 200px;
}

.typeCard {
  display: flex;
  justify-content: center;
} //USER PROFILE

.user-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 50px;
}
.user-main-card {
  position: relative;
}

.user-pfp {
  width: 90px;
  height: 95px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: #3c3556;
  color: #a6c5ff;
  top: -50px;
  left: 80%;
  transform: translateX(-20%);
}

//USER PROFILE
.user-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 50px;
}
.user-main-card {
  position: relative;
}

.user-pfp {
  width: 90px;
  height: 95px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: #3c3556;
  color: #a6c5ff;
  top: -50px;
  left: 80%;
  transform: translateX(-20%);
}
.ais-Hits-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #a6c5ff;
  border-radius: 10px;
  margin-left: 21px;
  // color: #fff;
}
#category-read-only {
  margin-left: 0px;
}
.ais-Hits {
  position: absolute;
  display: flex;
  justify-content: left;
  top: 65%;
  left: 47.6%;
  width: 200px;
  z-index: 100;
  // background: rgba(255, 0, 0, 0.9);
  background-color: #3c3556;
  border-radius: 10px;
  color: #000000;
}
.ais-Hits {
  &.cat-hits {
    left: 50%;
    top: 27%;
    z-index: 100;
    display: flex;
    justify-content: left;
    width: 170px;
  }
}
#cat-hit {
  // background-color: #000000;
  padding-top: 10px;
}
.input-group .form-control {
  border-radius: 10px;
  background-color: rgb(33 37 41);
  color: rgb(255, 255, 255);
}
.input-group-text {
  background-color: rgb(33 37 41);
  color: rgb(255, 255, 255);
}

.custom-checkbox {
  width: 260px;
  height: 60px;

  input#status {
    display: none;
    + label {
      height: 100%;
      width: 100%;
      > .status-switch {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: grey;
        color: white;
        transition: all 0.5s ease;
        padding: 3px;
        border-radius: 3px;

        &:before,
        &:after {
          border-radius: 2px;
          height: calc(100% - 6px);
          width: calc(50% - 3px);
          display: flex;
          align-items: center;
          position: absolute;
          justify-content: center;
          transition: all 0.3s ease;
        }
        &:before {
          background-color: white;
          color: black;
          box-shadow: 0 0 4px 4px rgba(#000, 0.2);
          left: 3px;
          z-index: 10;
          content: attr(data-unchecked);
        }

        &:after {
          right: 0;
          content: attr(data-checked);
        }
        &:checked + label > .status-switch {
          background-color: green;

          &:after {
            left: 0;
            content: attr(data-unchecked);
          }

          &:before {
            color: green;
            left: 50%;
            content: attr(data-checked);
          }
        }
      }
    }
  }
}

.synthRecorder {
  background-color: rgb(60, 53, 86);
}

#synthesize {
  border: 1px solid rgba(236, 210, 210, 0.36);
  @include blur(4.2px);
  margin-top: 2rem;
}

.modalCustom {
  position: absolute;
  top: 56%;
  left: 74%;
  background-color: grey;
  border: 1px solid rgba(236, 210, 210, 0.36);
  border-radius: 3px;
}

.oscillator {
  padding-top: 1rem;
}

.synthOption {
  display: flex;
  justify-content: center;
}