@use 'sass:math';
@import '~bootstrap/scss/bootstrap';
@keyframes navbarflyout {
  from {
    height: 0;
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
}
@font-face {
  font-family: headerFont;
  src: url('./fulbo-champagne.otf');
}
body {
  background-image: url('./mirrored.png');
  background-color: #606060;
  background-repeat: repeat;
  //background-size: auto
}
@mixin blur($radius) {
  -webkit-backdrop-filter: blur($radius); /* Chrome, Safari */
  -ms-filter: blur($radius); /* IE12? */
  filter: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg"><filter id="blur"><feGaussianBlur stdDeviation="#{$radius}" /></filter></svg>#blur'); /* Firefox, Safari, Chrome*/
  filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius); /* IE9 */
  backdrop-filter: blur($radius);
}

.inbox-title{
  font-family: headerFont;
  font-size: 5rem;
  text-shadow: 3px 3px 3px #a6c5ff;
  color:#e1e1e1
 
}

.post-bottom-overlay {
  background-color: rgba(77, 68, 109, 0.96);
  bottom:0;
  left:0;
  right:0;
  border-radius:8px;
  position: absolute; 
  z-index: 1050;
  animation: slide-up 1s, ease-in;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
  // transition: all .3s ease-out;
  @include blur(6px);
}

//post background effects
.card {
  //more translucent
  background: #e9ecf313;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
}
#user-main-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
#modal-background {
  background-color: #e1e1e500;
}
#tag-mod-header {
  //width: auto;
  text-align: center;
  background-color: #3c3556;
  color: #e1e1e1;
  font-size: 3rem;
  //border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
}

.room-info {
  //background: rgba(233, 236, 243, 0.075);
  //opacity: 60%;
  display: flex;
  justify-content: space-between;
}

.room-users {
  background: rgba(233, 236, 243, 0.075);
  //opacity: 60%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
}
.modal-content {
  background: #e1e1e1;
  //opacity: 60%;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  @include blur(4.2px);
  border: none;
}
.selected-tag {
  background-color: #3c3556;
  border: none;
  border-radius: 8px;
  color: #e1e1e1;
  box-shadow: 0 4px 3px #525151;
}
.selected-tag:disabled {
  background-color: #3c3556b0;
  border: none;
  border-radius: 8px;
  color: #e1e1e1;
  box-shadow: 0 4px 3px #525151;
}
#tag-submit {
  border-radius: 8px;
  border-color: #3c3556;
  color: #3c3556;
}
#tag-submit:hover {
  border-radius: 8px;
  background-color: #3c3556;
  color: #e1e1e1;
  box-shadow: 0 4px 3px #525151;
}
.not-selected-tag {
  background-color: transparent;
  border: none;
  //filter: saturate(0%)
  //text-shadow: 1px 1px 2px black;
}

.not-selected-tag:hover {
  background-color: transparent;
  border: none;
  text-shadow: 1px 1px 1px black;
}
#header {
  //more opaque
  background: #e9ecf343;
  //opacity: 60%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid #e9ecf343;
}

.overlay-container {
  background-image: linear-gradient(
    rgba(233, 236, 243, 0.261) 30%,
    transparent
  );
  border-radius: 16px;
  border: none;
}
.simple-btn {
  background: transparent;
  border: none;
  margin-top: 1rem;
}
#comment-btn {
  margin-left: 15px;
  color: rgb(166, 197, 255);
  //color: rgb(63, 133, 42)
  cursor: pointer;
}

//recording buttons

#play-btn-new {
  background: #e9ecf300 url(play-fill.svg) no-repeat 1rem;
}
#stop-btn-new {
  background: #e9ecf300 url(stop-fill.svg) no-repeat;
}
#record-btn-new {
  background: #e9ecf300 url(record-circle-fill.svg) no-repeat;
}
#post-btn-new {
  background: #e9ecf300 url(post.svg) no-repeat 1rem;
}
#remove-btn-new {
  background: #e9ecf300 url(trash3-fill.svg) no-repeat 1rem;
}

#stop-btn-new,
#play-btn-new,
#record-btn-new,
#post-btn-new,
#remove-btn-new {
  background-position: center;
  //background-size: cover;
  height: 3rem;
  width: 3rem;
  //border-radius: 6px;
  margin: .25rem .5rem;
  //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  //@include blur(4.2px);
  border: none;
  // border: 1px solid rgb(45, 58, 81);
}
#record-btn-new:hover {
  background: #e9ecf300 url(record-circle-fill-hover.svg) no-repeat 1rem;
  background-position: center;
}
#play-btn-new:hover {
  background: #e9ecf300 url(play-fill-hover.svg) no-repeat 1rem;
  background-position: center;
  //background-size: cover;
}
#stop-btn-new:hover {
  background: #e9ecf300 url(stop-fill-hover.svg) no-repeat 1rem;
  background-position: center;
  //background-size: cover;
}
#post-btn-new:hover {
  background: #e9ecf300 url(post-hover.svg) no-repeat 1rem;
  background-position: center;
  //background-size: cover;
}
#remove-btn-new:hover {
  background: #e9ecf300 url(trash3-fill-hover.svg) no-repeat 1rem;
  background-position: center;
  //background-size: cover;
}
#stop-btn-new:disabled,
#play-btn-new:disabled,
#record-btn-new:disabled,
#post-btn-new:disabled,
#remove-btn-new:disabled {
  display: none;
}

//NavBar
.feed-nav {
  color: #e1e1e5;
  background: rgba(233, 236, 243, 0.124);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
}
.navbar {
  background-color: #1e1a2ad0;
  border-bottom: #e1e1e5;
  //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
  //width:100vw
}

.feed-nav:hover {
  color: #3c3556;
}

.nav-tabs {
  border-color: rgba(233, 236, 243, 0.124);
}
#comment-btn {
  margin-left: 15px;
  color: rgb(166, 197, 255);
  cursor: pointer;
}

.login:hover {
  color: rgb(166, 197, 255);
  //opacity: 60%;
  cursor: pointer;
}

.card.user-profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  width: 100%;
  // height: 100%;
}
.card.user-profile-followers-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  top: 6%;
  width: 130%;
  padding-top: 20px;
  padding-bottom: 45px;
}
.followers-div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
  text-align: center;
  .card.follower-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 45px;
    .follower-info-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
.display-followers-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  //padding: 1rem;
  //margin: 1rem
}
.share-btn {
  background-color: rgba(54, 89, 169, 0.808);
  color: #e1e1e1;
  border: none;
  border-radius: 8px;
  @include blur(4.2px);
  //padding:.25rem
}
.share-btn:disabled {
  background-color: transparent;
  color:transparent;
}
.grid-post-container {
  display: flex;
  flex-direction: row;
  max-width: 999px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.share-btn:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.profile-image {
  //add height depending on how big you want it
  width: auto;
  margin: 1rem;
  object-fit: scale-down;
  border-style: solid;
  border-width: medium;
  border-color: #3c3556;
  border-radius: round($number: 3rem);
}
#header {
  background: #e9ecf343;
  //opacity: 60%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(233, 236, 243, 0.449);
}

#home-header {
  background-color: #1e1a2a79;
  //height: 10rem;
  //width: 100vw;
  //margin-bottom: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  padding-bottom: '2rem';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  //border-bottom: 1px solid rgba(233, 236, 243, 0.449);
}

#tag-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#tag,
#comment-btn:hover {
  background: rgba(233, 236, 243, 0.241);
  //opacity: 60%;
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
}
#post-section-wave {
  //background: rgba(166, 197, 255, 0.449);
  background: rgba(60, 53, 86, 0.449);

  //opacity: 60%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
}
#waveform {
  height: 100%;
  width: 100%;
}
.wavesurfer-container {
  position: relative;
}

.title-text-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  //margin-left: 2rem;
  color: #e1e1e1;
  font-size: 16px;
  z-index: 200;
}

.categories-text-overlay {
  position: absolute;
  top: 55px;
  left: 6px;
  color: #e1e1e1;
  font-size: 16px;
  z-index: 200;
  max-width: 300px;
}
// .on-profile-tag:-webkit-scrollbar {
//    background: 'pink';
//    //border:'blue'
// }
/* width */
.on-profile-tags::-webkit-scrollbar {
  background-color: transparent;
  //width: 8px;
}

.on-profile-tags::-webkit-scrollbar-corner {
  background: transparent;
  border: none;
}
/* Track */
.on-profile-tags::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 5px rgb(65, 65, 65);
  background: transparent;
  border-radius: 10px;
}

/* Handle */
.on-profile-tags::-webkit-scrollbar-thumb:vertical:hover {
  width: 8px;
  background: #e9ecf313;
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
}
.on-profile-tags::-webkit-scrollbar-thumb:horizontal:hover {
  width: 8px;
  background: #e9ecf313;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(236, 210, 210, 0.36);
}

.navbar-collapse.show {
  animation: navbarflyout 0.3s ease-in-out;
  height: auto;
}

.whaa {
  height: 50%;
  width: 10%;
}

.presstotalk-img {
  border: none;
  width: 50px;
  height: 50px;
}

.mt-incont {
  margin-top: 200px;
}
.post-button,
.delete-button,
.stop-button,
.play-button,
.record-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #000210;
}

.post-button:not(:disabled):hover,
.delete-button:not(:disabled):hover,
.stop-button:not(:disabled):hover,
.play-button:not(:disabled):hover,
.record-button:not(:disabled):hover {
  background-color: #1e1a2a;
}
.post-button img,
.delete-button img,
.stop-button img,
.play-button img,
.record-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.post-button:disabled,
.delete-button:disabled,
.play-button:disabled,
.record-button:disabled,
.stop-button:disabled {
  opacity: 0.55;
  border: 1px solid #000000;
}
.post-button:active,
.delete-button:active,
.record-button:active,
.play-button:active,
.stop-button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.input-control {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  height: 4rem;
}

///////////////////////whspr ai
.whsprAI {
  //containers
  .container-whsprAI {
    height: calc(85vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-whsprAI {
    background: rgba(233, 236, 243, 0.075);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 60rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    @include blur(4.2px);
    border: 1px solid rgba(236, 210, 210, 0.36);
  }

  .centered-whsprAI {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  //floating text
  .floating-text-whsprAI {
    position: fixed;
    top: 8rem;
    bottom: 8rem;
    right: 1rem;
    width: 33%;
    max-height: calc(100vh - 150px);
    height: auto;
    background-color: rgba(128, 128, 128, 0.2);
    border-left: 1px solid (128, 128, 128, 0.4);
    overflow-y: auto;
    z-index: 1000;
    padding: 10px;
    border-radius: 1.5rem;
    box-shadow: -3px 0px 3px (128, 128, 128, 0.4);

    &::-webkit-scrollbar {
      width: 5px;
    }
  }

  //button containers
  .mute-btn-container,
  .pause-btn-container,
  .text-btn-container {
    user-select: none;
    position: fixed;
    display: block;
  }

  .mute-btn-container {
    left: 1rem;
    bottom: 1rem;
  }

  .pause-btn-container {
    right: 1rem;
    top: 1rem;
  }

  .text-btn-container {
    right: 1rem;
    bottom: 1rem;
  }

  //buttons
  .mute-btn,
  .pause-btn,
  .text-btn {
    position: relative;
    max-width: 4.5rem;
    max-height: 4.5rem;
    width: 7vw;
    height: 7vw;
    opacity: 0.6;
  }

  .pause-btn {
    max-width: 3rem;
    max-height: 3rem;
  }

  .mute-btn.disabled,
  .pause-btn.disabled {
    opacity: 0.1;
    pointer-events: none;
    cursor: default;
  }

  //transcript styles
  .message-count-whsprAI {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    background-color: rgb(150, 0, 0);
    border-radius: 50%;
    color: rgb(248, 248, 248);
    size: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
    text-shadow: 1px 1px 0 rgba(128, 128, 128, 0.6),
      -1px -1px 0 rgba(128, 128, 128, 0.6), -1px 1px 0 rgba(128, 128, 128, 0.6),
      1px -1px 0 rgba(128, 128, 128, 0.6);
  }

  //help button and modal
  .help-btn-container {
    position: fixed;
    display: block;
    top: 1rem;
    left: 1rem;

    .help-btn {
      position: relative;
      max-width: 3.5rem;
      max-height: 3.5rem;
      width: 5vw;
      height: 5vw;
    }

    .help-modal-whsprAI {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  //press to talk
  .press-to-talk-container {
    position: fixed;
    bottom: 5vh;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-img {
      position: fixed;
      border: none;
      bottom: 3vh;
      width: 20vw;
      height: 20vw;
      max-height: 12rem;
      max-width: 12rem;
    }
  }

  //misc
  .chatHistoryName {
    color: rgba(4, 217, 255, 0.6);
  }

  .chatHistoryText {
    color: rgba(209, 209, 209, 0.6);
  }
}

.modalCustom {
  position: fixed;
  top: 175px;
  left: 60px;
  width: 400px;
  height: auto;
  color: rgba(209, 209, 209, 0.6);
  background-color: rgba(128, 128, 128, 0.2);
  border-left: 1px solid (128, 128, 128, 0.4);
  overflow-y: auto;
  z-index: 1000 !important;
  padding: 10px;
  box-shadow: -3px 0px 3px (128, 128, 128, 0.4);
}
.modalCustom input {
  border-radius: 10px;
}
.modalCustom textarea {
  border-radius: 10px;
  width: 100%;
  height: 100px;
}

.typeCard {
  display: flex;
  justify-content: center;
} //USER PROFILE

.user-profile-bio {
  color: white;
  size: 0.8rem;
  margin: 1rem;
}

.user-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 50px;
}
.user-main-card {
  position: relative;
}

.user-pfp {
  width: 90px;
  height: 95px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: #3c3556;
  color: #a6c5ff;
  top: -50px;
  left: 80%;
  transform: translateX(-20%);
}

//USER PROFILE
.user-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 50px;
}
.user-main-card {
  position: relative;
}

.user-pfp {
  width: 90px;
  height: 95px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  background-color: #3c3556;
  color: #a6c5ff;
  top: -50px;
  left: 80%;
  transform: translateX(-20%);
}
.ais-Hits-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // color: #fff;
}
#category-read-only {
  margin-left: 0px;
}
.ais-Hits {
  position: relative;
  display: flex;
  z-index: 100;
  background: rgba(233, 236, 243, 0.0745098039);
  border-radius: 10px;
  color: #000000;
  margin-top: 4px;
  align-items: center;
}
.ais-Hits-list {
  padding-left: 0rem;
}
.ais-Hits {
  &.cat-hits {
    top: 1%;
    left: 101%;
    z-index: 999;
    display: flex;
    position: absolute;
    justify-content: center;
    color: #ffff;
  }
}

.ais-SearchBox {
  display: flex;
  align-items: center;
}

.ais-SearchBox-input {
  flex: 1;
  height: 38px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: rgb(33, 37, 41);
  border: 1px solid #cccccc;
  width: 12vw;
  max-width: 17vw;
}

.ais-SearchBox-submit {
  background-color: #3c3556;
  border: 1px solid #ffff;
  color: #ffffff;
  padding: 6px 12px;
  margin-left: -1px;
  cursor: pointer;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
}
.ais-SearchBox-SubmitIcon {
  color: #ffff;
}
.ais-SearchBox-reset {
  display: none !important;
  .ais-SearchBox-resetIcon {
    display: none;
  }
}

#post-card-box {
  width: 100vw;
}

#filterBtn, #sine, #triangle, #square, #sawtooth, #oscillatorType {
min-width: 14vw;
min-height: 4.5vh;
font-size:larger;
font-family: headerFont;
}

#oscillatorLabels {
  font-family: 'headerFont';
  font-size: large;
}


#phaseFilter {
  min-width: 8vw;
  min-height: 4.5vh;
  font-size: large;
  font-family: headerFont;
}

#distortionFilter {
  min-width: 10vw;
  min-height: 4.5vh;
  font-size: large;
  font-family: headerFont;
}

#phaser, #distortion, #oscType, #waveType {
  min-width: 3.5vw;
  min-height: 3.5vh;
}


#cat-hit {
  // background-color: #000000;
  padding-top: 10px;
}
.input-group .form-control {
  border-radius: 10px;
  background-color: rgb(33 37 41);
  color: rgb(255, 255, 255);
}
.input-group-text {
  background-color: rgb(33 37 41);
  color: rgb(255, 255, 255);
}

.custom-checkbox {
  width: 260px;
  height: 60px;

  input#status {
    display: none;
    + label {
      height: 100%;
      width: 100%;
      > .status-switch {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: grey;
        color: white;
        transition: all 0.5s ease;
        padding: 3px;
        border-radius: 3px;

        &:before,
        &:after {
          border-radius: 2px;
          height: calc(100% - 6px);
          width: calc(50% - 3px);
          display: flex;
          align-items: center;
          position: absolute;
          justify-content: center;
          transition: all 0.3s ease;
        }
        &:before {
          background-color: white;
          color: black;
          box-shadow: 0 0 4px 4px rgba(#000, 0.2);
          left: 3px;
          z-index: 10;
          content: attr(data-unchecked);
        }

        &:after {
          right: 0;
          content: attr(data-checked);
        }
        &:checked + label > .status-switch {
          background-color: green;

          &:after {
            left: 0;
            content: attr(data-unchecked);
          }

          &:before {
            color: green;
            left: 50%;
            content: attr(data-checked);
          }
        }
      }
    }
  }
}

.synthRecorder {
  background-color: rgb(60, 53, 86);
}

#synthesize {
  border: 1px solid rgba(236, 210, 210, 0.36);
  @include blur(4.2px);
  margin-top: 2rem;
}

.modalCustom {
  position: absolute;
  top: 56%;
  left: 74%;
  background-color: grey;
  border: 1px solid rgba(236, 210, 210, 0.36);
  border-radius: 3px;
}

.oscillator {
  padding-top: 1rem;
}

.synthOption {
  display: flex;
  justify-content: center;
}

$push-size: 10rem;
$push-color: rgb(121, 18, 0);
$bg: rgb(69, 67, 67);

[class*='push'] {
  position: relative;
  display: inline-block;
  width: $push-size;
  height: $push-size;
  border: 0;
  margin: 1em;
  outline: none;
  background-color: $push-color;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
}

.push--skeuo {
  box-shadow: inset 0 math.div($push-size, 24) 0 lighten($push-color, 5%),
    inset 0 math.div(-$push-size, 24) math.div($push-size, 60)
      darken($push-color, 5%),
    0 0 math.div($push-size, 60) $push-color,
    inset 0 0 math.div($push-size, 30) darken($push-color, 15%),
    inset 0 0 math.div($push-size, 30) transparentize($bg, 0.5),
    inset 0 0 math.div($push-size, 60) math.div($push-size, 12) $push-color,
    inset 0 math.div(-$push-size, 30) math.div($push-size, 40)
      math.div($push-size, 10) transparentize($bg, 0.3),
    inset 0 0 math.div($push-size, 60) math.div($push-size, 10)
      darken($push-color, 20%),
    inset 0 0 math.div($push-size, 60) math.div($push-size, 10)
      transparentize($bg, 0.3),
    inset 0 0 math.div($push-size, 120) math.div($push-size, 9.2)
      darken($push-color, 50%),
    inset 0 0 math.div($push-size, 120) math.div($push-size, 8)
      transparentize(lighten($push-color, 30%), 0.3),
    inset 0 math.div($push-size, 20) 0 math.div($push-size, 8.5)
      transparentize(lighten($push-color, 15%), 0.3),
    inset 0 math.div(-$push-size, 20) math.div($push-size, 60)
      math.div($push-size, 8.5) transparentize(darken($push-color, 10%), 0.8),
    inset 0 0 0 math.div($push-size, 5.5) $push-color,
    inset 0 math.div($push-size, 2.5) math.div($push-size, 7.5)
      darken($push-color, 5%),
    inset 0 0 math.div($push-size, 10) math.div($push-size, 6)
      darken($push-color, 10%),
    0 math.div($push-size, 40) math.div($push-size, 20) rgba(0, 0, 0, 0.5);

  &:active,
  // &:hover,
  &.is-pushed {
    box-shadow: inset 0 math.div($push-size, 24) 0 lighten($push-color, 5%),
      inset 0 math.div(-$push-size, 24) math.div($push-size, 60)
        darken($push-color, 5%),
      0 0 math.div($push-size, 60) $push-color,
      inset 0 0 math.div($push-size, 30) darken($push-color, 15%),
      inset 0 0 math.div($push-size, 30) transparentize($bg, 0.5),
      inset 0 0 math.div($push-size, 60) math.div($push-size, 12) $push-color,
      inset 0 math.div(-$push-size, 30) math.div($push-size, 40)
        math.div($push-size, 10) transparentize($bg, 0.3),
      inset 0 0 math.div($push-size, 60) math.div($push-size, 10)
        darken($push-color, 20%),
      inset 0 0 math.div($push-size, 60) math.div($push-size, 10)
        transparentize($bg, 0.3),
      inset 0 0 math.div($push-size, 40) math.div($push-size, 8.5)
        darken($push-color, 40%),
      inset 0 0 math.div($push-size, 120) math.div($push-size, 7.5)
        transparentize(lighten($push-color, 30%), 0.8),
      inset 0 math.div($push-size, 20) 0 28px
        transparentize(lighten($push-color, 15%), 0.5),
      inset 0 math.div(-$push-size, 20) math.div($push-size, 60) 28px
        transparentize(darken($push-color, 20%), 0.8),
      inset 0 0 0 math.div($push-size, 5.5) darken($push-color, 3%),
      inset 0 math.div($push-size, 2.5) math.div($push-size, 7.5)
        darken($push-color, 8%),
      inset 0 0 math.div($push-size, 10) math.div($push-size, 6)
        darken($push-color, 15%),
      0 math.div($push-size, 40) math.div($push-size, 20) rgba(0, 0, 0, 0.5);
    background-color: darken($push-color, 2%);

    &:before {
      opacity: 0.5;
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: math.div($push-size, 4.5);
    left: math.div($push-size, 3.6);
    display: block;
    width: math.div($push-size, 2.2);
    height: math.div($push-size, 3.3);
    background: transparentize(lighten($push-color, 30%), 0.8);
    background: linear-gradient(
      to top,
      transparentize(lighten($push-color, 40%), 0.7) 0%,
      transparentize($push-color, 0.9) 100%
    );
    border-radius: 40% 40% 60% 60%;
    transition: opacity 200ms;
  }
}
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 20vw;
  cursor: pointer;
  outline: none;
  height: 1.5rem;
  background: #ccc;
  border-radius: 16px;
  overflow: hidden;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 1.5rem;
  background: #ccc;
  border-radius: 16px;
}

input[type='range']::-moz-range-track {
  height: 1.5rem;
  background: #ccc;
  border-radius: 16px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  background-color: gray;
  border-radius: 50%;
  border: 2px solid rgb(60, 53, 86);
  box-shadow: -407px 0 0 400px rgb(60, 53, 86);
}

input[type='range']::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: gray;
  border-radius: 50%;
  border: 1px solid rgb(60, 53, 86);
  box-shadow: -407px 0 0 400px rgb(60, 53, 86);
}

.activeButton {
  background-color: #7c3030;
  border-color: #a51c30;
}

.push--skeuo span {
  user-select: none;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.outer-container {
  //max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  //border: 1px solid #ccc;
  //border-radius: 5px;
  //box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 100%;
}

.outer-container > div {
  flex: 1;
  padding: 20px;
}

.outer-container .carousel-wrapper {
  max-width: 1200px;
  min-width: 900px;
  //background: #a6c5ff;
  //background: #e9ecf313;
  // border-radius: 16px;
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  // @include blur(4.2px);
  // border: 1px solid rgba(236, 210, 210, 0.36);
  display: flex;
  flex-direction: column;
  margin: auto;
  //align-content: center;
  // background-image: url('./mirrored.png');
  // background-color: #606060;
}

.outer-container .content {
  background: var(--white);
}

.carousel-button {
  display: flex;
  align-self: center;
  //padding: 10px;
  width: 6rem;
  height: 6rem;
  color: #e9ecf346;
  //max-width: 50px;
  //border-radius: 30px;
  //background: #e9ecf343;
  //border: 2px solid var(--white);
  cursor: pointer;
}
.outer-container .carousel-wrapper,
.carousel-item {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--white);
  line-height: 1.2;
}

.leading-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  font-size: 2.5rem;
  //margin-right: 6px;
  //margin-left: auto;
  text-align: right;
  width: 50%;
  margin-bottom: 3.5rem;
  margin-left: 3.5rem;
}
#lead-img {
  align-items: end;
}
.carousel {
  height: 100%;
  display: flex;
  flex-direction: row;
  //flex: 5;
  background: #a6c5ff;
  align-items: center;
  margin: 1rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  //color: var(--white);
}

.slides {
  //align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  overflow: hidden;
  //margin-bottom: 2rem;
}

.carousel-inner {
  position: relative;
  //max-height: 250px;
  height: 275px;
  margin-bottom: 1rem;
}

.carousel-inner::before,
.carousel-inner::after {
  content: '';
  z-index: 1;
  position: absolute;
  width: 100%;
  //height: 110px;
  pointer-events: none;
  border-radius: 16px;
}

.carousel-inner::before {
  top: 0;
  height: 120px;
  background: linear-gradient(360deg, hsla(0, 0%, 100%, 0) -60%, #a6c5ff 100%);
  //@include blur(1.2px);
  //linear-gradient(0deg, hsla(0, 0%, 100%, 0.169) 0%, #606060 100%);
}

.carousel-inner::after {
  bottom: 0;
  height: 117px;

  background: linear-gradient(360deg, #a6c5ff 0%, hsla(0, 0%, 100%, 0) 160%);
  //@include blur(1.2px);
  // background: linear-gradient(
  //   transparent, rgb(233, 236, 243) 10%,
  // );
  // @include blur(1.2px);
  //linear-gradient(0deg, #6060605f  0%, hsla(0, 0%, 100%, 0.205) 100%);
}

.carousel-item {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  //margin: .5rem;
  top: 112px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  //opacity: 0;
  color: black;
}

//mailbox//
.display-message {
  width: 50%;
  min-width: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(233, 236, 243, 0.449);
  margin: 1rem;
}

#message {
  background: rgba(103, 122, 158, 0.61);
}

#no-message {
  align-items: center;
  background: #e9ecf343;
  //opacity: 60%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  @include blur(4.2px);
  border: 1px solid rgba(233, 236, 243, 0.449);
  margin: 1rem;
}

#share-user {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 1rem;
}
#select-mess-img {
  height: fit-content;
  width: fit-content;
  opacity: 50%;
  position: relative;
}

#conchBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: #0000007d;
}

#conchChild {
  background-color: rgba(103, 122, 158);
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  border-radius: 1rem;
  top: 20%;
  animation: slide-right 3s, rock 6s ease-in-out infinite;
}

@keyframes rock {
  0% {
    transform: rotate(-0.01turn);
  }
  50% {
    transform: rotate(0.01turn);
  }
  100% {
    transform: rotate(-0.01turn);
  }
}

@keyframes slide-right {
  from {
    //transform: rotate(.25turn);
    margin-left: 0%;
  }
  to {
    // transform: rotate(-.25turn);
    // transform: rotate(.25turn);
    margin-left: 36%;
  }
}

@keyframes slide-up {
  from {
    //transform: rotate(.25turn);
    height: 0;
  }
  to {
    // transform: rotate(-.25turn);
    // transform: rotate(.25turn);
   height:100%
  }
}

.ocean {
  height: 180px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}
.conch-title {
  //font-size: 1.5rem;
  // background: -webkit-linear-gradient(rgb(166, 197, 255), rgb(236, 239, 245));
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  color: #e1e1e1;
  font-weight: bold;
  text-align: center;
  margin: 0 1rem 0 1rem;
}
// .wave:nth-of-type(2) {
//   bottom: 0;
//   animation: wave 18s linear reverse infinite;
//   opacity: 0.5;
// }

// .wave:nth-of-type(3) {
//   bottom: 0;
//   animation: wave 20s -1s linear infinite;
//   opacity: 0.5;
// }

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.modal-button-container {
  position: relative;
}

.modal-profile-edit {
  position: absolute;
  top: 2rem;
  left: 0;
}
.notification-position{
  position:absolute;
  //z-index: 990;
  top:110px;
  right:320px;
  // background-color: #a51c30;
  // padding:.5rem
}