@import "~bootstrap/scss/bootstrap";

body {
    background-color: #424242;
}
#waveform  {
    height: 100%;
    width: 100%;
    
}

#play-btn {
    background-color: #000;

}

.synthCont {
    background-color: #000;
}

.typeCard {
    display: flex;
    justify-content: center;
}

.type {
    color: #424242;
}

.active {
    background-color: rgb(109, 74, 225);
}